.footer {
    background-color: #222222;
    color: white;
    font-size: 20px;
}
.center_image {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center_image2 {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
.background_style {
   background-image: linear-gradient(to bottom right, #04061D, #1E2D6A);;
}

.background_style2 {
  background-image: linear-gradient(to bottom right, yellow, red);;
}

.h1 {
    font-size: 5em;
    color: white;
}
.h2 {
    font-size: 3em;
    position: relative;
    padding-left: 45%;
    padding-top: 2%;
}

.h22 {
  font-size: 3em;
  position: relative;
  text-align: center;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
}
.bottom-left {
    position: absolute;
    top: 1100px;
    left: 16px;
    padding-left: 3%;
    padding-top: 5%;
}
@media (width <= 1200px) {
  .h1 {
    font-size: 5rem;
  }
  .bottom-left {
    top: 600px;
  }
}

@media (width <= 800px) {
  .h1 {
    font-size: 3rem;
  }
  .bottom-left {
    top: 400px;
  }
}
@media (width <= 500px) {
  .h1 {
    font-size: 2rem;
  }
  .bottom-left {
    top: 250px;
  }
}

ol {
    padding-left: 10%;
    font-size: 2em; 
    color:peru;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    .li {
      font-size: 2em;
      Font-weight: bold;
    }
}

div {
    text-align: center;
}
.icon {
    list-style-position: inside;
    list-style-type: circle;
}
.box {
    background-color: #DAB727;
    width: 75%;
    border-radius: 25px;
}
.column {
  float: left;
  padding-left: 10%;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.italic {
  Font-style: italic;
  text-align: left;
}
.topper {
  text-align: center;
  padding: 5%;
}
.center {
  text-align: center;
}
.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8%;
}